:root {
  --default-font: 'Montserrat', sans-serif;
  --magazine-font: 'Bebas Neue', cursive;

  --c-gray-1: #434343;
  --c-gray-2: #878787;
  --c-gray-2-l: #87878750;
  --c-gray-3: #e5e5e5;
  --c-gray-4: #f6f6f6;
  --c-green-1: #537A58;
  --c-green-2: #9bc7a1;
  --c-green-3: #c3ddc6;
  --c-blue-1: #61929b;
  --c-blue-2: #d5e2e4;
  --c-brown-1: #a17c5e;
  --c-brown-1-l: #a17c5e50;
  --c-brown-2: #a59485;
  --c-red-1: #B45F5B;
  --c-red-2: #7A4755;

  --padding-x-m: 15px;
  --padding-y-m: 15px;
  --padding-x-td: 24px;
  --padding-y-td: 24px;
  --padding: 15px;
  --padding-s: 5px;
  --gap-s: 5px;
  --gap: 10px;

  --header-y-m: 74px;
  --header-y-t: 82px;
  --header-y-d: 132px;
  --footer-y-m: 46px;
  --drawer-margin-x-m: 51px;
  --drawer-x-t: 340px;
  --breadcrumbs-y-m: 40px;
  --search-bar-y: 38px;
  --mobile-max: 450px;
  --popup-max-y: 600px;
  --button-padding-x: 30px; 
  --width-d: 80%;
  --max-width-d: 1000px;
  --max-width-slim: 450px;

  --default-margin: 12px;
  --margin-2: calc(var(--default-margin) * 2);
  --margin-4: calc(var(--default-margin) * 4);
  --default-border-radius: 5px;
  --border-radius-2: 3px;
  --page-border-radius: 15px;
  --border-width: 3px;
  --fast-transition: all 0.2s cubic-bezier(0.85, 0, 0.15, 1);
  --drawer-transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
  --remove-transition: all 0.3s cubic-bezier(0.7, 0, 0.84, 0);
  --box-shadow-drawer: 0px 0px 15px #537a5830;

  --list-item-y: 60px;
  --sub-item-y: 40px;
  --button-y: 50px;
  --form-element-y: 30px;
  --text-input-y: 45px;

  --letter-spacing: 0.1em;

  font-size: 12px;
}

body { 
  margin: 0 !important;  
  font-family: var(--default-font);
}

/* #region Text */

.text, p {
  font-size: 1rem;
  color: var(--c-gray-1);
  line-height: 1.5rem;
}

.h1, h1 {
  all: unset;
  font-size: 2rem;
  line-height: 2rem;
  color: black;
  display: block;
  margin: calc(3 * var(--default-margin)) 0;
}

.h2, h2 {
  all: unset;
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--c-gray-1);
  display: block;
  margin: calc(1.5 * var(--default-margin)) 0;
}

.h4, h4 {
  all: unset;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: var(--c-gray-1);
  display: block;
  margin: calc(1.2 * var(--default-margin)) 0;
}

.h6, h6 {
  all: unset;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: var(--c-gray-1);
  display: block;
  margin: var(--default-margin) 0;
}

.subdued {
  color: var(--c-gray-2);
}

.italic{
  font-style: italic;
}

.bold, .b {
  font-weight: bold;
}

.link-h4 {
  cursor: pointer;
  line-height: 2.0rem;
  font-size: 1.1rem;
  text-decoration: underline;
  color: #000000;
  white-space: nowrap;
}

.link {
  cursor: pointer;
  color: var(--c-gray-1);
  text-decoration: underline;
  user-select: none;
  white-space: nowrap;
}

.link-hover{
  cursor: pointer;
  color: var(--c-gray-1);
  user-select: none;
  white-space: nowrap;
}
.link-hover:hover{
  text-decoration: underline;
}

.link-alt {
  cursor: pointer;
  color: var(--c-gray-2);
  user-select: none;
  white-space: nowrap;
}

.center{
  text-align: center;
}

.pointer{
  cursor: pointer;
  user-select: none;
}

.price {
  letter-spacing: 0.1em;
  font-size: 1em;
  line-height: 1.5em;
}

.product-title {
  height: 2.9em;
  overflow: hidden;
  color: var(--c-green-1);
  font-size: 1em;
  line-height: 1.5em;
}

/* #endregion */

/* #region Elements */

a { 
  text-decoration: none; 
  color: var(--c-gray-1);
}

ul{
  list-style: none;
  padding: 0;
}

/* #endregion */

/* #region Components */

.list-item{
  all: unset;
  height: var(--list-item-y);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--padding) * 1.5);
  border-bottom: 1px solid var(--c-gray-3);
  cursor: pointer;
}
.list-item:last-child{
  border-bottom: none;
}

.divider{
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--c-gray-3);
  margin-top: calc(var(--default-margin) * 2);
  margin-bottom: calc(var(--default-margin) * 2);
}

.panel {
  background-color: var(--c-gray-4);
  padding: var(--padding);
  border-radius: var(--default-border-radius);
}

/* #endregion */

/* #region Containers */

.container-m {
  padding: var(--padding-y-m) var(--padding-x-m);
}

.container {
  padding: var(--padding-y-td) var(--padding-x-td);
  max-width: var(--max-width-d);
  margin: auto;
}

.container-slim {
  padding: var(--padding-y-m) var(--padding-x-m);
  max-width: var(--max-width-slim);
  margin: auto;
}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.grid-2-s{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.btn-group-v, .flex-v{
  display: flex;
  flex-direction: column;
  gap: var(--gap)
}

.btn-group-h, .flex-h, .flex{
  display: flex;
  flex-direction: row;
  gap: var(--gap)
}

.td-split{
  display: grid;
  grid-template-columns: repeat(2, calc(50% - var(--padding-x-td)));
  gap: calc(var(--padding-x-td) * 2);
  box-sizing: border-box;
}

.td-split-sticky{
  position: sticky;
  top: calc(var(--header-y) + var(--padding-y-td));
  height: min-content;
}

.main-button-m{
  position: fixed;
  bottom: calc(var(--footer-y-m) + var(--gap));
  z-index: 50;
  width: calc(100% - (var(--padding-x-m) * 2));
}

/* #endregion */

/* #region Helpers */

.mt {
  margin-top: var(--default-margin);
}

.mt2 {
  margin-top: calc(var(--default-margin) * 2);
}

.mt4 {
  margin-top: calc(var(--default-margin) * 4);
}

.mb {
  margin-bottom: var(--default-margin);
}

.mb2 {
  margin-bottom: calc(var(--default-margin) * 2);
}

.mb4 {
  margin-bottom: calc(var(--default-margin) * 4);
}

.hide {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nowrap{
  white-space: nowrap;
}

/* #endregion */

/* #region Animations */

.shake-animation {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
  transform: none;
}

@keyframes shake {
  

  20% {
    transform: translateX(-1px);
  }

  40% {
    transform: translateX(2px);
  }

  60% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(1px);
  }
}

.press-animation {
  animation: press 0.3s cubic-bezier(.36,.07,.19,.97) both;
  transform: none;
}

@keyframes press {
  50% {
    transform: scale(95%);
  }
  
  100% {
    transform: none;
  }
}

/* #endregion */